* {
  box-sizing: border-box;
  outline: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(106, 31, 117);
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  margin: 0;
}

input,
textarea {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgba(192, 188, 188, 0.2);
}

textarea {
  height: 50px;
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-left: 0;
}

.dialog {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  width: 30%;
  height: 25%;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  border: none;
}

.dialog__close,
.dialog__submit {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: orangered;
  color: white;
  border: none;
}

.dialog__close {
  border-radius: 20px 20px 0 0;
}

.dialog__submit {
  border-radius: 0 0 20px 20px;
}

#dialog__body {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.form__container {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  align-self: flex-start;
  font-size: 40px;
  color: white;
  margin: 30px;
}

.control-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 50px 0 50px;
}

.create-btn {
  width: 200px;
  height: 40px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 40px;
  background-color: rgba(224, 220, 220, 0.2);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.create-btn:hover {
  background-color: orangered;
}

.document {
  height: 70%;
  overflow-y: auto;
  margin: 30px 50px;
  border-radius: 10px;
  padding: 10px;
}

.document::-webkit-scrollbar-thumb {
  color: aqua;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.page-item {
  display: flex;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.page-item__body {
  flex: 1 1 95%;
}

.page-item__controls {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex: 1 1 5%;
}

.close {
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 7px;
  font-size: 25px;
  background-color: white;
  color: rgb(106, 31, 117);
}

.close:hover {
  color: orangered;
}

.image,
.video,
.note,
.todo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.image__title,
.video__title,
.note__body,
.todo-label {
  padding-left: 10px;
  font-size: 1rem;
}

.video__iframe {
  width: 600px;
  height: 300px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: auto;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  border-top: 1px solid white;
  font-size: 10px;
  text-align: center;
}
